.backgroundMain{
    background-color: rgb(206, 166, 244);
    margin: 0;
    padding: 0;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

.texto{
    display: flex;
    justify-content: center;
    color: #f6264e;
    font: bold 20pt "Josefin Sans";
    padding: 60pt;
}